
body{
    background: #F6C292;
    text-align: center;
}
p{
    font-size: 3rem;
    line-height: 1.6;
}
button:active{
    outline: none;
    border: none;
    box-shadow: none;
}

/* Header */
header {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    width: 120%;
    background-color: #FFB572;
}
header p {
    background-color: #FFA451;
    color: #ab550a;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 1rem;
}
.HeaderNavBar {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-right: 5rem;
}
.logoImg {
    min-height: 2rem;
    padding-left: 2rem;
    padding-right: 4rem;
}
.navbar img {
    min-height: 10rem;
}
.navbar {
    display: flex;
    flex-direction: column;
}
.nav-links {
    position: fixed;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10rem;
    background-color: #FFA451;
    margin-left: 5rem;
    padding: 1rem;
    width: 15rem;
    

    z-index: 1000; /* Higher than other elements */
}
.nav-links a:hover {
    background-color: #F18423;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 3rem;
}
.sunscreen {
    margin-left: 20rem;
    margin-right: 2rem;
}




/* Main for Index.html */
.IndexMain {
    padding: 12rem 0 5rem 0rem;
    padding-left: 15%;
}
.mainBtns {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
}
.mainBtns, button {
    background-color: transparent;
    border: none;
}
.mainBtns button img {
    border: 2px solid #FFB572;
    min-width: 20rem;
}



/* Main for Data.html */
.Data {
    min-width: 75rem;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 20rem auto;
    padding-top: 5rem;
    justify-content: center;
    text-align: center;
}
.Data p{
    font-size: 3.5rem;
    border: #ab550a 2px solid;
}
.DataNames{
    display: flex;
    background-color: #FFD4AF;
    padding: 0.5rem;
}
.DataData {
    display: flex;
    background-color: #FFDFC2;
}

.FilterBtn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 3rem;
    background-color: #FFA451;
    border: #ab550a 2px solid;
    border-radius: 1rem;
    margin-right: 1rem;
}
.DataMain button, .DataMain input::placeholder {
    color: #874003;
}




/* Footer */
footer {
    text-align: center;
    padding-left: 15%;
}
footer p {
    font-size: 3rem;
    padding: 2rem;
    font-weight: bold;
}




/* Alarm.html */

.AlarmMain {
    font-size: 5rem;
    background-color: #FFA451;
    margin: 5rem;
    margin-right: -15%;
    color: #874003;
}
.AlarmMain button {
    font-size: 6rem;
    background-color: #F18423;
    border: none;
    padding: 2rem;
    text-align: center;
    margin-left: -10%;
    color: #FFDFC2;
}
.AlarmMain input {
    font-size: 5rem;
    text-align: center;
    width: 10rem;
    margin-left: 5rem;
    background-color: #FFDFC2;
    color: #F18423;
    border: none;
}
.AlarmMain p {
    color: #874003;
}