<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lys og Liv</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="HeaderNavBar">

          <nav class="navbar">
            <button id="btnBurger" @click="toggleMenu"><img src="./img/BurgerMenu.png" alt="BurgerMenu"></button>
            <div class="nav-links"v-if="menuOpen" >
              <a href="/Vue/index.html">Lys og Liv</a>
              <a href="/Vue/data.html">Data</a>
              <a href="/Vue/alarm.html">Alarm</a>
            </div>
          </nav>

          <img class="logoImg"src="./img/Logo.png" alt="Lys og Liv Logo">

          <p>UV: {{ uvResult.uv }}</p>

        </div>
        
          <p class="sunscreen">{{ sunscreen }}</p>

      </header>
   
      <main class="DataMain">
        <div>
          <p>By: {{ city }}</p>
          <button></button>
        </div>

        <article class="DataControls">
          <button class="FilterBtn">Filter</button>
          <input class="FilterBtn" type="search" name="search" id="search" placeholder="Search... ">
        </article>

        <section class="Data">

          <p class="DataNames">Date</p>
          <p class="DataNames">Light Intensity</p>
          <p class="DataNames">Curtain drawn?</p>
          <p class="DataNames">Lights on?</p>

          <template class="DataInput" v-for="entry in sensorData">
            <p id="DataDate" class="DataData">{{ UnixToDate(entry.timeTurnedOn) }}</p>
            <p class="DataData">{{ entry.lightLevel }}</p>
            <p class="DataData">{{ entry.isDrawn }}</p>
            <p class="DataData">{{ entry.lightsOn }}</p>
          </template>

        </section>

      </main>



      <footer>


    </footer>




     </div>
      <!-- Axios (global) -->
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <!-- Import App (uses global Vue and axios) -->
      <script src="./js/main.js"></script>
  </body>
</html>
