<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lys og Liv</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="HeaderNavBar">

          <nav class="navbar">
            <button id="btnBurger" @click="toggleMenu"><img src="./img/BurgerMenu.png" alt="BurgerMenu"></button>
            <div class="nav-links"v-if="menuOpen" >
              <a href="/Vue/index.html">Lys og Liv</a>
              <a id="refData" href="/Vue/data.html">Data</a>
              <a href="/Vue/alarm.html">Alarm</a>
            </div>
          </nav>

          <img class="logoImg"src="./img/Logo.png" alt="Lys og Liv Logo">
          <p>UV: {{ uvResult.uv }}</p>
        </div>
        
          <p class="sunscreen">{{ sunscreen }}</p>
      </header>
   
      <main class="IndexMain">
        <article>
          <button class="helpBtn" id="helpBtn" @click="toggleHelp"><img src="./img/que.png" alt="QuestionMark"></button>
          <div class="helpPanel" id="helpPanel" v-if="helpOpen">
            <p><span class="iconName">Sun:</span> Checks light levels outside and opens the curtains or turns on the light depending on how bright it is outside</p>
            <p><span class="iconName">Moon:</span> Turns off the lights and closes the curtains for bed time</p>
            <p><span class="iconName">Light On:</span> Turns on the lights</p>
            <p><span class="iconName">Light Off:</span> Turns off the lights</p>
            <p><span class="iconName">Curtains Open:</span> Opens the curtains</p>
            <p><span class="iconName">Curtains Closed:</span> Closes the curtains</p>
          </div>
        </article>
        
        <section class="mainBtns">
          <button id="btnSun" @click="sunBtnClick"><img class="image" v-bind:src="sunBtn.src" v-bind:alt="sunBtn.desc"></button>
          <button><img class="image" v-bind:src="moonBtn.src" v-bind:alt="moonBtn.desc"></button>
          <button><img class="image" v-bind:src="lightSwitch.src" v-bind:alt="lightSwitch.desc"></button>
          <button><img class="image" v-bind:src="nightSwitch.src" v-bind:alt="nightSwitch.desc"></button>
          <button><img class="image" v-bind:src="blindsOpen.src" v-bind:alt="blindsOpen.desc"></button>
          <button><img class="image" v-bind:src="blindsClose.src" v-bind:alt="blindsClose.desc"></button>
        </section>
        
        
      </main>



      <footer>
        <article>
          <p >{{ TextMessage }}</p>
          <p>You have saved {{ savedEnergy }} hours of energy in total.</p>
        </article>
      </footer>




     </div>



      <!-- Axios (global) -->
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <!-- Import App (uses global Vue and axios) -->
      <script src="./js/main.js"></script>

  </body>
</html>
